/* -------ELEMENT SELECTORS------ */

* {
    box-sizing: border-box;
  }

body {
  font-family: 'Roboto', sans-serif;
  color: #2D3945;
}

header {
  text-align: center;
  margin: 0 auto;
}

h1 {
  background: #2D3945;
  color: white;
  font-size: 1.7em;
  padding: 30px;
  margin: 0;
}

h2 {
  margin: 0;
  color: rgb(61, 148, 144);
}

h3 {
  margin-bottom: 40px;
  margin-top: 10px;
}

h3, small {
  color: #617383a6;
  font-weight: 400;
}

div {
  vertical-align: top;
}

hr {
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 1.5px;
  width: 100%;
}

label,
p {
    color: #617383;
}
label {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

select {
  padding: 6px;
  height: 50px !important;
  border-radius: 2px;
  }

fieldset {
  border: none;
  margin: 35px 0 0;
  padding: 0;
}

legend {
  font-size: 1.3em;
  font-weight: 700;
}

legend + p {
  margin-top: 25px;
}

textarea {
  height: 150px !important;
  margin: 10px 0 !important;
}

button {
  padding: 20px;
  margin: 20px 0;
  color: #FFF;
  background-color: #4EBBB5;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgb(67, 160, 155);
  }

small {
  display: block;
  text-align: center;
  font-style: italic;
  margin: 0 auto;
  font-size: 1em;
  padding: 20px;
}

/* -------ATTRIBUTE SELECTORS------ */

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #d9dadb;
  border-radius: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 4px 8px 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline;
}

input[id="zip"]{
  width: 150px;
}

/* -------PSEUDO SELECTORS------ */

input:focus,
textarea:focus,
select:focus {
  border: 2px solid #2D3945;
  background: #4EBBB5;
  transition: ease-in 500ms;
  color: white;
}

::placeholder {
  text-align: right;
  font-weight: 400;
  font-style: italic;
  font-size: .9em;
  color: #617383a6;
}

textarea::placeholder,
input[type="tel"]::placeholder {
  text-align: left;
}

/* -------CLASS SELECTORS------ */

.container {
  width: 95%;
  margin: 0 auto;
  padding: 0;
}

.hr-top {
  margin-top: 30px;
  border-top: 5px solid black;
  border-bottom: 2px solid black;
  height: 12px;
}

/* -------ID SELECTORS------ */

#top-text {
  text-align: center;
  margin-top: 40px;
}

#newsletter {
  background: rgba(78, 187, 181, 0.356);
  padding: 20px;
  margin-bottom: 20px;
}

/* -------MEDIA QUERIES------- */

@media (min-width: 768px) {
  .container {
    width: 80%;
    max-width: 600px;
  }

  .top-fieldset div > label,
  .top-fieldset div > input,
  .top-fieldset div > select {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    margin-top: 30px;
  }

  .top-fieldset div > label {
    float: left;
    width: 25%;
    text-align: left;
    margin: 20px 0;
    padding-top: 15px;
  }
  
  .top-fieldset div > input,
  .top-fieldset div > select {
    float: left;
    width: 75%;
    margin: 20px 0;
  }

  .top-fieldset > legend {
    margin-bottom: 30px;
  }

  input[id="zip"]{
    width: 150px !important; 
  }
}




